.locationsComponent{
    width: 100%;
    height: 100vh;
    background-color: rgb(35, 35, 35);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    min-height: 1000px;
    min-width: 300px;
}

.globeContainer{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    z-index: 10;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    right: 0%;
    padding-bottom: 8%;
    min-height: 650px;


    
    
}


.locationsText{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: left;
    
    
    
    
}

.LocationsTitleSection{
    width: 80%;
    height: 40%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}



.locationsTitle{
    font-size: 18px;
    color: rgb(131, 131, 130);
    font-family: 'Ropa Sans', sans-serif;
}

.locationsSubTitle{
    font-size: 90px;
    width: 50%;
    color: white; 
    font-family: 'Ropa Sans', sans-serif;
}

.locationStats{
   display: flex;
   flex-direction: column;
    
}


.locationNumbers{
    width: 34%;
    height: 30%;
    font-family: 'Ropa Sans', sans-serif;
    padding-left: 8%;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    top: 30px;
}
.locationStatsButtonContainer{
    width: 40%;
    display: flex;
    padding: 80px;
}

.locationStatNumber{
    color: white;
    font-size: 25px;
}

.locationStatTitle{
    color: white;
    font-size: 20px;
}


.mobileGlobe{
    display: none;
}

.locationButton{
    background-color: rgba(200, 18, 9, 0.988);
    border: none;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Ropa Sans', sans-serif;
    
    position: relative;
    left: 0%;
    top: 40px;
    text-decoration: none;
   

}


@media only screen and (max-width: 900px) {
    
    
    .locationsComponent{
        width: 100%;
        height: 105vh;
       
        justify-content: center;
        flex-direction: column-reverse;
        
    }


    .locationsText{
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        border: none;
     
    
        
    
        
        
    }

    .locationsTitle{
        font-size: 10px;
        text-align: left;
        width: 80%;
    }
    .globeContainer{
        display: none;
    
        
        
    }

    .LocationsTitleSection{
        width: 100%;
        height: 10%;
        padding: 0px;
        align-items: center;
      
       
    
    }

    .locationsSubTitle{
        font-size: 90px;
        width: 80%;
        color: white; 
        font-family: 'Ropa Sans', sans-serif;
       
    }

    .locationStats{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 10%;
        padding-top: 100px;
         
     }

    .locationNumbers{
        width: 80%;
        height: 30%;
        
        padding-left: 10%;
        
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

     .locationStatsButtonContainer{
        padding: 50px;
        width: 80%;
        position: relative;
        top: 50px;
    }
    
    .locationStatNumber{
        color: white;
        font-size: 25px;
    }
    
    .locationStatTitle{
        color: white;
        font-size: 20px;
    }

    .globeContainer{
       display: none;
    }
    .mobileGlobe{
        width: 500px;
        height: 500px;
        z-index: 1000;
        display: block;
    }
    
}

@media only screen and (max-width: 400px) {
    
    .locationsSubTitle{
        font-size: 50px;
      

       
    }

    .locationStatNumber{
        color: white;
        font-size: 10px;
    }
    
    .locationStatTitle{
        color: white;
        font-size: 14px;
    }

    
    .mobileGlobe{
        width: 550px;
        height: 500px;
        z-index: 1000;
        display: block;
     
    }
    .locationStatsButtonContainer{
        padding: 50px;
        width: 100%;
        position: relative;
        top: 50px;
    }
}