@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@1&display=swap');
.splashComponentContainer{
    width: 100%;
    height: 100%;
    min-height: 600px;
    max-height: 1000px;
    overflow-y: hidden;
   
    
  
}

.splashContainer{
    width: 100%;
    height: 100vh;
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    min-height: 600px;
    max-height: 1000px;
  
    
  

}

/* font grouping  */
.carName,.specTitle,.specdata{
    
    font-family: 'Ropa Sans', sans-serif;
    
   
   
}


/* background Strip*/

.backgroundStrip{
    width: 30%;
    height: 100%;
    background-color: rgb(69, 71, 73);
    position: absolute;
    right: 20%;
    transform: skew(-14deg);
    min-height: 600px;
    max-height: 1000px;
    

}

.stripImage{
    width: 100%;
    height: 50%;
    background-image: url("https://images.unsplash.com/photo-1610960245237-cfab0dea6be4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2250&q=80");
    background-size: contain;
    background-position: center;
   
}

/* Splash top Section */
.carData{
    width: 80%;
    height: 70%;
    display: flex;
    
}

.carName{
    font-size: 135px;
    color: white;
    z-index: 1;
    position: relative;
    top:24%;
    text-shadow: 10px 10px 3px rgba(0, 0, 0, 0.513);
    min-width: 1000px;
    text-align: center;
    letter-spacing: .5rem;
   
   
}

.carImg{
    width: 100%;
    height: 100%;
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 200px;
    min-width: 600px;
}

/* specs box */
.carSpecs{
    width: 10%;
    height: 60%;
    position: relative;
    top: 27%;
}

.individualSpec{
    width: 100%;
    height: 33.3%;
   
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.specIcon{
    font-size: 30px;
    color: white;
 
}
.specTitle{
    font-size: 20px;
    color: white;
    font-weight:200;
    width: 40px;
}
.specdata{
    color: rgba(255, 255, 255, 0.468);
}

.carInformation{
    width: 90%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


/* Splash bottom Section */
.subData{
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.fullName{
    width: 20%;
   
}
.chooseCarSection{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
}
.numberSection{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.chooseCarButton{
    width: 100px;
    height: 50px;
  
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    cursor: pointer;
    filter: brightness(86%);
    
}

.chooseCarButton:hover{
    width: 105px;
    height: 60px;
    transition: .1s ease-in;
    filter: brightness(100%);
    
}



.carProgress{
    color: white;
    font-size: 50px;
    font-family: 'Ropa Sans', sans-serif;
   
 
}

.carProgressFull{
    font-family: 'Ropa Sans', sans-serif;
    font-size: 50px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(254, 254, 254);
    color: rgba(39, 39, 39, 0);
}

.carProgressSlash{
    display: none;
}


.fullName{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.fullNameTitle{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.fullNameSubtext{
    color: rgba(255, 255, 255, 0.839);
    font-size: 20px ;
}




@media only screen and (max-width: 950px) {
    .carName{
        font-size: 105px;
        top:28%;
        min-width: 800px;
        letter-spacing: .2rem;
       
       
    }
    
    
   
   
  }

  @media only screen and (max-width: 820px) {
    .carName{
        font-size: 110px;
        top:23%;   
        
    }
    .carData{
        width: 90%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    

    .individualSpec{
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
   
    }

    .specIcon{
        font-size: 30px;
        color: white;
     
    }

    .carSpecs{
        width: 80%;
        justify-content: center;
        display: flex;

    }
    .fullNameTitle{
  
        font-size: 27px;

    }
    .fullNameSubtext{

        font-size: 20px ;
    }
  }


  @media only screen and (max-width: 600px) {
   
    .carName{
        font-size: 75px;
        top:30%;   
    
    }
    .carImg{
        width: 60%;
        height: 60%;
        min-height: 190px;
        min-width: 400px;
    }
    .specTitle{
        width: 200px;
        text-align: center;
    }
    .fullNameTitle{
  
        font-size: 20px;

    }
    .fullNameSubtext{

        font-size: 15px ;
    }

   


  

   

  
  }

  @media only screen and (max-width: 400px) {
    .carData{
        width: 80%;
        height: 80%;
        display: flex;
        position: relative;
        bottom: 30px;
        
    }
    .carName{
        font-size: 45px;
        top:20%;   
    }
    .carImg{
        width: 30%;
        height: 30%;
        min-height: 200px;
        min-width: 300px;
    }


    .splashComponentContainer{
        width: 100%;
        height: 100%;
        min-width: 300px;
        
    }

    .subData{
        width: 90%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
    }

 
    
    
    .splashContainer{
        min-width: 300px;
        max-height: 1000px;
        
      
    
    }


   


    .individualSpec{
        width: 30%;
      
    }

   

    .backgroundStrip{
        width: 30%;
        height: 100%;
        background-color: rgb(69, 71, 73);
        position: absolute;
        right: 20%;
        transform: skew(0deg);
        min-height: 600px;
        max-height: 1000px;
        display: none;
        
    
    }

    .carSelection{
    
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .fullName{
        width: 100%;
        text-align: center;
       
    }
    .numberSection{
        width: 40%;
        display: flex;
        flex-direction: row;
       
        justify-content: space-between;
    }

    .carProgressSlash{
        color: rgb(237, 231, 231);
        font-size: 40px;
        display: block;
        
    }
    
   
  }

  @media (max-width: 700px ) and (max-height: 600px ) {
    .splashContainer{
        height: 200vh;
    }
  }